::-webkit-input-placeholder {
  /* Chrome */
  color: #afafaf;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #afafaf;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #afafaf;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #afafaf;
  opacity: 1;
}
.header {
  background-color: #eff3ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__h1 {
  font-family: "Conv_Gilroy-Medium", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 1.5em;
}
.header__search-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__input-container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flew-start;
  align-items: center;
  background-color: #fff;
  padding: 0 10px 0 15px;
}
.header__input {
  width: 90%;
  color: #1c295d;
  background: #fff;
  font-family: "Conv_Gilroy-Regular", sans-serif;
  font-size: 15px;
  margin-left: 8px;
}
.header__input-container > img {
  width: 24px;
  height: 24px;
}
.header__filter-button {
  border-radius: 50%;
  background-color: #f86549;
  background-image: url("../assets/icons/tune.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  box-shadow: 1px 2px 15px rgba(248, 101, 73, 1);
}
