.sidebar {
  background-color: #eff3ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebar-link {
  background-color: #f6f7fb;
}
.sidebar__label {
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  color: #7987a5;
}
.sidebar__label-active {
  color: #1c295d;
}



