@import "nullstyle.css";
@import "fonts.css";
@import "sidebar.css";
@import "header.css";
@import "main.css";
@import "max-width-767.css";
@import "min-width-768.css";
@import "width-481-767.css";

@media screen and (max-width: 480px) {
  .main__tab-card {
    display: none;
  }
}

@media screen and (max-width: 767.99px) {
  .main__desktop-card {
    display: none;
  }
}

body {
  /* height: 100vh; */
  font-family: "Conv_Gilroy-Medium", "Open Sans", sans-serif;
}
.container {
  min-height: 100%;
  min-width: 100vw;
}
.menu {
  grid-area: menu;
  background-color: #393d46;
  display: flex;
}
.menu a {
  margin: auto;
}
.menu {
  grid-area: ga-menu;
}
.header {
  grid-area: ga-hd;
}
.sidebar {
  grid-area: ga-sb;
}
.main {
  grid-area: ga-main;
}






